#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

.copy_right_footer {

    position : fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.image_style {
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
    height: 400px;
    width: 500px;
    border-style: solid;
    border-color: rgba(2, 2, 2, 0.2);
}
img:hover {
    border-radius: 140px;
}

#body {
    background-image: linear-gradient(to right top, #a94ebf, #6e4ebf ,#bf4ebf, #db67c4, #db679f);
    text-align: center;
}